$fontMain: sans-serif;

$colors: (
  main: #555,
  main-inverted: #fff,
  important: #000,
  primary: #c46e4d
);

$backgrounds: (
  main: #fff,
  main-inverted: #000,
  line: #f5f5f5,
  footer: #222222
);

